@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.selected {
  fill: red !important;
  stroke: red !important;
}

/* If you have HTML elements mixed in */
.selected {
  background-color: red !important;
}
